@charset "utf-8";

.index_image {
	float:top;
	text-align:center;
	margin-top:30px;
}


#add_account_icon {
	width:200px;
	height:200px;
}


#account {
	overflow:auto;
/*	border: 1px solid #ff0000;*/
	border: 2px groove green;
}
.account_list {
	overflow:auto;
	float:left;
	text-align:center;
}

.account_name {
	float:top;
}



#add_bot_icon {
	width:200px;
	height:200px;
}


#bot {
	overflow:auto;
/*	border: 1px solid #ff0000;*/
}



.compIconBig  {
	width:100%;
	height:100%;
/*	border: 1px solid #0000ff;*/
}
.compIconSmall {
	opacity: 0.9;
	width:40%;
	height:40%;
	position: relative;
	top: -100%;
	left: 0%;
/*	border: 1px solid #00ff00;*/
}
.compIconSmall2 {
	opacity: 0.9;
	width:40%;
	height:40%;
	position: relative;
	top: -45%;
	left: 15%;
/*	border: 1px solid #00ff00;*/
}
